.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.style1 {
  font-size: 36px;
}

.style2 {
  font-size: large;
}

.about-urself {
  font-family: cursive;
  font-size: large;
  padding: 16px;
}

.project-title {
  font-size: 36px;
  padding: 16px;
}

.project-template {
  padding: 16px;
}

.ptitle {
  font-size: x-large;
  margin-bottom: 8px;
}

.pdetail {
  font-size: large;
}
